body {
	font-family: 'Indie Flower', cursive;
	text-align: center; 
}

header {
	height: 200px; 
	margin-top: 50px;
}

.resultContainer {
	padding-top: 15px;
	text-align: center;
	height: 50px; 
	margin-top: 50px; 
	font-size: 25px; 
	color: white; 
	background-color: grey; 
	opacity: 0.5; 
	vertical-align: middle; 
	transition: 0.25s all linear;  
}

.container {
	position: relative; 
	height: 100px;
	margin-top: 30px;
}

.choices {
	opacity: 0; 
	width: 100px; 
	height: 100px;
	display: inline-block;
	position: absolute;
	transition: 0.5s;
}

.choices img {
	height: 100px; 
	width: 100px; 
}

.rock {
	left: 150px;
	opacity: 1;
	transition: 0.5s;
}
.paper {
	left: 300px; 
	opacity: 1; 
	transition: 0.5s;
}
.scissors {
	left: 450px;
	opacity: 1; 
	transition: 0.5s;
}

.divButton {
	text-align: center; 
	margin-top: 80px; 
}

.restartButton {
	opacity: 0; 
	display: inline-block;
	padding: 20px; 
	color: black; 
	text-decoration: none;
}



.scores {
	position: relative; 
	height: 100px; 
}

.playerScoreStorage {
	position: absolute; 
	left: 150px;
	transition: 0.10s all linear; 
	text-align: center; 
}

.computerScoreStorage {
	position: absolute; 
	right: 150px; 
	transition: 0.10s all linear; 
	text-align: center; 
}

.changeUsernameContainer {
	position: relative; 
}

.changeUsername {
	color: grey; 
	text-decoration: none;
	position: absolute; 
	left: 130px;
}